@media all and (max-width: 949px)
{
    .section
    {
        flex-direction: column;
    }
    .menu
    {
        flex-direction: column;
        height: auto;
    }
    .aside
    {
        display: flex;
        justify-content: center;
   
    }
    .publicity
    {
        width: 50%;
    }
    
 
 
}

@media (min-width: 801px) and (max-width:2000px)
{

        .aside
        {
            flex: 1 1 25%;

        }
        .posts
        {
            flex: 1 1 70%;
        }
}


@media (max-width: 600px)
{
    .posts
    {
        flex-direction: column;
    }
    h1
    {
        font-size: 18px;

    }
    .main
    {
        height: 250px;
    }
    .menu_text_off
    {
        display:none;
      
    }
    .social a, .nav a
    {
        margin: 15px;
        font-size: 15px;
    }

}

@media all and (max-width:500px)
{
    .aside
    {
        flex-direction: column;
    }
    .publicity
    {
        width: auto;
    }
    .nav_article
    {
        padding: 8px;
    }
    .nav_article a
    {
        margin: 2px;
        font-size: 12px;
    }
}